.container {
  width: 100%;
  height: 600px;
}

.item {
  display: inline-block;
  width: 200px;
  opacity: 1;
}

.item .thumbnail {
  overflow: hidden;
  border-radius: 8px;
}

.item .thumbnail img {
  width: 100%;
  border-radius: 8px;
}
